@model X.PagedList.IPagedList<ProjectSem3.Models.Post>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "GetAllPost";
}

<style>
    .user-info-panel {
        position: fixed;
        top: 70px;
        left: 20px;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .info-box {
        margin-bottom: 10px;
    }

        .info-box h4 {
            margin: 0;
            font-size: 14px;
            color: #333;
            font-weight: bold;
        }

        .info-box p {
            margin: 0;
            font-size: 18px;
            color: #007bff;
            font-weight: bold;
        }

    .create-button {
        background-color: #808080;
        color: #ffffff !important;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
        margin-top: 20px;
    }

        .create-button:hover {
            background-color: #555555;
            color: #ffffff;
        }

</style>
<!-- MAIN -->
<main>
    <div class="container">
        <a class="create-button" asp-action="Create" asp-controller="Post">Create post</a>
        <div class="posts">
            <div class="posts__head">
                <div class="posts__topic">Post</div>
                <div class="posts__category"></div>
                <div class="posts__activity">CreatedAt</div>
            </div>
            <div class="posts__body">
                @foreach (var item in Model)
                {
                    <div class="posts__item bg-f2f4f6" style="margin-bottom: 20px;">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a asp-action="PostDetail" asp-controller="Post" asp-route-id="@item.PostId">
                                        @{
                                            var content = item.Title.Length > 50 ? item.Title.Substring(0, 50) + "..." : item.Title;
                                        }
                                        <h3>@content</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__activity">@item.CreatedAt.ToString("dd/MM/yyyy")</div>
                        </div>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-center mt-3">
                @if (Model.PageCount > 1)
                {
                    @Html.PagedListPager(Model, page => Url.Action("GetAllPost", new { page }),
                             new PagedListRenderOptions
                {
                    UlElementClasses = new List<string> { "pagination" },
                    LiElementClasses = new List<string> { "page-item" },
                    PageClasses = new List<string> { "page-link" },
                    ActiveLiElementClass = "active",
                })
                }
            </div>
        </div>
    </div>
</main>
