@{
    ViewData["Title"] = "ForgotPassword";
}
<style>
    /* Title styling */
    .titel {
        text-align: center;
        margin-top: 20px; /* Add 20px gap from the top */
        margin-bottom: 20px; /* Add 20px gap from the bottom */
    }

    /* Form section */
    .signup__section {
        margin-bottom: 15px;
    }
</style>
<div class="titel">
    <h4>
        Please enter the email you registered with in our system.
    </h4>
</div>
<div class="signup__form">
    <form asp-action="ForgotPassword" method="post">
        <div class="signup__section">
            <label class="signup__label" for="email">Email Address</label>
            <input type="text" class="form-control" id="email" name="email">
            @Html.Raw(ViewBag.errEmail)
        </div>

        <button type="submit" class="signup__btn-create btn btn--type-02">Send confirmation email</button>
    </form>
</div>